<div class="collection-header">
    <h3>{{ collection.title }}</h3>
    <p>{{ collection.description }}</p>
</div>
<ul id="Slider-{{ section.id }}"
    class="grid product-grid contains-card contains-card--standard grid--3-col-desktop grid--2-col-tablet-down"
    role="list">
    {% for product in collection.products %}
        <li class="grid__item">
            {% render 'card-product', card_product: product, show_vendor: false %}
        </li>
    {% endfor %}
</ul>